/* CarePortal.css */

.container-mt-5{
    font-family: 'Montserrat', sans-serif;
    background-color: white; /* Backdrop color */
    color: #003366; /* Navigation and headers color */
  }
  .card-item-custom{
    height: 400px;
  }

  .row{
    display: flex;
    justify-content: space-around;
  }

  .card1{
    display: flex;
    flex-direction: column;
    /* background-color: #003366; */
    border-color: #003366;
    border-radius: 2;
    border-width: 20px;
    width: 43%;
    /* border: none; */
    padding: 50px;
    margin: 20px 70px 20px 40px;
    /* color: white; */
  }

  #header-portal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2em;
  }

#card-size{
    height: 400px;
    width: 700px;
    margin-left: 40px;
}

#card-size1{
  height: 400px;
  width: 700px;
}

  .mb-4-care-portal-header{
    color: black;
    text-align: center;
    margin: 2em 0em;
    font-weight: 600;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .care-portal-header {
    color: #003366; /* Navigation and headers color */
    margin: 1.5em 0em 2em 0em;
  }
  
  .wellbeing-card {
    background-color: #87CEEB; /* Wellbeing card background color */
    border: 1px solid #003366; /* Border color */
    box-shadow: 0 0 10px rgba(0, 51, 102, 0.2); /* Box shadow */
  }
  
  .wellbeing-header {
    color: #003366; /* Navigation and headers color */
  }
  
  .wellbeing-button {
    background-color: #FF6F61; /* Buttons and links color */
    border: 1px solid #003366; /* Border color */
  }
  
  .reminders-card {
    background-color: #9DC183; /* Reminders card background color */
    border: 1px solid #003366; /* Border color */
    box-shadow: 0 0 10px rgba(0, 51, 102, 0.2); /* Box shadow */
  }
  
  .reminders-header {
    color: #003366; /* Navigation and headers color */
  }
  
  .reminders-input {
    background-color: #F5F5DC; /* Backdrop color */
  }
  
  .reminders-button {
    background-color: #FF6F61; /* Buttons and links color */
    border: 1px solid #003366; /* Border color */
  }
  
  .reminders-info {
    color: #003366; /* Navigation and headers color */
  }
  
  .reminders-list {
    color: #003366; /* Navigation and headers color */
  }
  
  /* Additional styling for FontAwesome icons */
  .fa {
    margin-right: 5px;
  }
  
  /* Navbar.css */

.navbar {
    background-color: #9fccff; /* Navigation and headers color */
    padding: 10px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: #F5F5DC; /* Backdrop color */
    font-weight: bold;
  }
  
  .navbar-item a:hover {
    color: #87CEEB; /* Accent color */
  }
  